{% extends 'apps/include_base/include.html' %}

{% block body %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="container border-bottom-4">
                <div class="header_tab_menu ">
                    <div class="header_menu active" style="overflow: auto">
                        <a href="{% url 'product_list' 'all' %}"
                           class="btn btn-default {% if session_category == None %} active {% endif %}">
                            Barchasi
                        </a>

                        {% for category in categories %}
                            <a href="{% url 'product_list' category.slug %}"
                               class="btn btn-default {% if session_category and session_category.pk == category.pk %} active {% endif %}">
                                {{ category.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="container" id="productsList">
                <div class="content_grid">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-6 mb-3 col-md-6 col-lg-4">
                                <div class="border rounded-1 d-flex flex-column justify-content-between pb-3">
                                    <div class="overflow-hidden">
                                        <div class="position-relative rounded-top overflow-hidden">
                                            <a class="d-block" href="{% url 'product_detail' product.slug %}"><img
                                                    class="img-fluid rounded-top"
                                                    src="{{ product.image.url }}" alt="" style="width: 200px; height: 200px;
                                        </div>
                                        <div class="p-2">
                                            <h5 class="fs-0"><a class="text-dark"
                                                                href="{% url 'product_detail' product.slug %}">{{ product.name }}</a>
                                            </h5>
                                            <p class="fs--1 mb-2"><a class="text-500"
                                                                     href="{% url 'product_list' product.category.slug %}">{{ product.category.name }}</a>
                                            </p>
                                            <h5 class="fs-md-2 text-warning mb-0 d-flex align-items-center mb-2"> {{ product.price }}
                                                so'm
                                            </h5>
                                            <p></p>
                                        </div>
                                    </div>

                                    <div>
                                            <a class="btn btn-sm btn-falcon-default me-2 like-button {% if product.pk in liked_products_id %}bg-danger{% endif %}"
                                               href="{% if not request.user.is_authenticated %}{% url 'auth' %}{% else %}#!{% endif %}" data-bs-toggle="tooltip"
                                               data-bs-placement="top" data-product-id="{{ product.pk }}"
                                               title="Add to Wish List"><span
                                                    class="far fa-heart"></span></a><a
                                                class="btn btn-sm btn-falcon-default"
                                                href="{% if not request.user.is_authenticated %}{% url 'auth' %}{% else %}{% url 'product_list' 'all' %}{% endif %}" data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                title=""><span
                                                class="fas fa-cart-plus"></span></a></div>
                                    </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}