{% extends 'apps/include_base/include.html' %}
{% load static %}

{% block body %}
    <div class="card mb-3 btn-reveal-trigger">
        <div class="card-header position-relative min-vh-25 mb-8">
            <div class="cover-image">
                <div class="bg-holder rounded-3 rounded-bottom-0"
                     style="background-image:url({% static 'apps/assets/img/Windows 11 Black Wallpaper, HD Hi-Tech 4K Wallpapers, Images and Background - Wallpapers Den.jfif' %});">
                </div>
                <input class="d-none" id="upload-cover-image" type="file">
            </div>
            <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
                <div class="h-100 w-100 rounded-circle overflow-hidden position-relative">
                    <img src="{% static 'apps/assets/img/nouser.png' %}" width="200" alt=""
                         data-dz-thumbnail="data-dz-thumbnail">
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row g-0">
        <div class="col-lg-8 pe-lg-2">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="mb-0">Profilim</h5>
                </div>
                <div class="card-body bg-light">
                    <form class="row g-3" action="{% url 'profile' %}" method="post">
                        {% csrf_token %}
                        <div class="col-lg-6">
                            Ismingiz
                            <input type="text" name="first_name" class="form-control" id="id_first_name"
                                   value="{{ request.user.first_name }}">
                        </div>
                        <div class="col-lg-6">
                            Familiyangiz
                            <input type="text" name="last_name" class="form-control" id="id_last_name"
                                   value="{{ request.user.last_name }}">
                        </div>
                        <div class="col-lg-6">
                            Shahar/Viloyat
                            <select name="region" class="form-control" id="id_region">
                                <option value="">Shahar/Viloyatni tanlang</option>
                                {% for region in regions %}
                                    <option value="{{ region.id }}"
                                            {% if request.user.district.region_id == region.id %}selected{% endif %}>
                                        {{ region.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-6">
                            Tuman
                            <select name="district_id" class="form-control" id="id_district">
                                <option value="">Tumanni tanlang</option>
                                {% if request.user.district %}
                                    <option value="{{ request.user.district.id }}"
                                            selected>{{ request.user.district.name }}</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-lg-6">
                            Manzil
                            <input type="text" name="address" class="form-control" maxlength="200" id="id_location"
                                   value="{{ request.user.address|default_if_none:'' }}">
                        </div>
                        <div class="col-lg-6">
                            Telegram id
                            <input type="text" name="telegram_id" class="form-control" id="id_telegram_id"
                                   value="{{ request.user.telegram_id|default_if_none:'' }}">
                        </div>
                        <div class="col-lg-6">
                            O'zingiz haqingizda
                            <textarea name="about" cols="40" rows="10" class="form-control" maxlength="399"
                                      id="id_description">
                                {{ request.user.about|default_if_none:'' }}
                            </textarea>
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Saqlash</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 ps-lg-2">
            <div class="sticky-sidebar">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="mb-0">Parolni o'zgartirish</h5>
                    </div>
                    <div class="card-body bg-light">
                        <form action="{% url 'change_password' %}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label" for="old-password">Eski parol</label>
                                <input class="form-control" name="old" id="old-password" type="password" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="new-password">Yangi parol</label>
                                <input class="form-control" name="new" id="new-password" type="password" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="confirm-password">Yangi parolni tasdiqlash</label>
                                <input class="form-control" name="confirm" id="confirm-password" type="password"
                                       required>
                            </div>
                            <button class="btn btn-primary d-block w-100" type="submit">Parolni yangilash</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}